package components

templ CreateIcons() {
	<script>
        lucide.createIcons();
        document.addEventListener('htmx:afterSettle', function(event) {
            lucide.createIcons();
        });
	</script>
}
